<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='common.js')}}"></script>
  <title>Rhythmic Grouping</title>
</head>
<body>


<div class="container">
  <div class="jumbotron">
    <br>
    <br>
    <br>
    <h2>Thank you so much! You've labeled all the available samples. Copy your unique token and enter it into the survey when you return.</h2>
    <p id="token"></p>
    <br>
  </div>
</div>
</body>
<script>

  function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';');
        for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                          c = c.substring(1);
                        }
                if (c.indexOf(name) == 0) {
                          return c.substring(name.length, c.length);
                        }
              }
        return "";
    }

  var token = getCookie("labeler_id");
  document.getElementById("token").innerHTML = "Your unique token is: " + token;
</script>
</html>
